# App
APP_PORT=8888
APP_EXPOSE_PORT=8888
APP_ENV=development
LOG_FORMAT=json

# Database PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_EXPOSE_PORT=5434
DB_USER=sipon
DB_PASS=secret
DB_NAME=sipon
DB_SSLMODE=disable

# Redis
REDIS_ADDR=redis:6379
REDIS_EXPOSE_PORT=6380

# Migrations
MIGRATIONS_DIR=internal/migrations

# JWT
JWT_SECRET_KEY=ganti-dengan-secret-key-yang-panjang-dan-acak
JWT_ACCESS_TTL=1440       # menit
JWT_REFRESH_TTL=43200   # menit (30 hari)

# SMTP (contoh pakai Mailtrap sandbox)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=noreply@sipon.dev

# Fonnte (SMS OTP)
FONNTE_TOKEN=
FONNTE_URL=https://api.fonnte.com/send

# Rate Limit
RATE_LIMIT_ENABLED=true
RATE_LIMIT_IP_MAX=120
RATE_LIMIT_IP_WINDOW_SECONDS=60
RATE_LIMIT_USER_MAX=300
RATE_LIMIT_USER_WINDOW_SECONDS=60
RATE_LIMIT_AUTH_MAX=10
RATE_LIMIT_AUTH_WINDOW_SECONDS=60

# MinIO (Object Storage)
MINIO_EXPOSE_PORT=9002
MINIO_CONSOLE_EXPOSE_PORT=9003
MINIO_ENDPOINT=192.168.1.29:9002
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=public
MINIO_PRIVATE_BUCKET=private
MINIO_USE_SSL=false
